body {
  font-family: Poppins;
  background-color: white;
}
.container {
  max-width: 98%;
}
/* NAVBAR */

.btn-outline-primary {
  color: #2d76f9;
  border: 1.5px solid #2d76f9;
  box-sizing: border-box;
  border-radius: 50px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.btn-outline-primary:hover {
  background-color: #2d76f9;
}

.my-nav {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 18px;
}

.nav-item {
  font-size: 18px;
  margin-left: 50px;
}

.navbar-brand {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
}

/* HERO SECTION */

.btn-primary {
  background: #2d76f9;
  border-radius: 1500px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 10%;
}

/* ZAENKRAT PROBLEM Z BACKGROUNDOM */
/*
.col-right {
  background-color: #d6e5fd;
  border-radius: 0px 0px 0px 100px;
}*/

#circle-up {
  position: absolute;

  width: 513px;
  height: 513px;
  margin-left: -118px;
  margin-top: -181px;

  border: 100px solid #f5f9ff;
  box-sizing: border-box;
  border-radius: 50%;
}

.col-right {
  display: flex;
  justify-content: center;
}

.col-text {
  font-size: 18px;
  color: #747474;
  margin-top: 40px;
}
.col-title {
  margin-top: 200px;
  font-weight: 600;
  font-size: 64px;
}

#krog {
  position: relative;
  width: 32rem;
  height: 513px;
  margin-left: 384px;
  margin-top: 490px;

  border: 100px solid #f5f9ff;
  box-sizing: border-box;
  border-radius: 50%;
}

.my-hero {
  margin-left: 5%;
  margin-right: 0%;
  margin-top: 5%;
}

#phone-bottom {
  position: absolute;
  margin-left: 50px;
  margin-top: 528px;
}

#phone-middle {
  position: absolute;
  margin-left: 309px;
  margin-top: 352px;
}

#phone-top {
  position: absolute;
  margin-left: 87px;
  margin-top: 181px;
}

/* FEATURES SECTION */

.far {
  margin-left: 5%;
  background: #eef4ff;
  border-radius: 100px;
  opacity: 0.5;
  color: #2d76f9;
  margin-top: 5%;
}

.fas {
  margin-left: 5%;
  background: #eef4ff;
  border-radius: 100px;
  opacity: 0.5;
  color: #2d76f9;
  margin-top: 5%;
}

#features {
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
}

#features h4 {
  margin-top: 8%;
  color: #212121;
  font-size: 24px;
  font-weight: bold;
}

#features h5 {
  font-size: 18px;
  color: #747474;
  margin-top: 7%;
}

/* ADVANTAGE SECTION */

/* ADVANTAGE UP */

.advantage-left {
  background-color: #eef4ff;
  border-radius: 0px 100px 100px 0px;
}

.advantage-right h4 {
  color: #212121;
  font-weight: 600;
  font-size: 36px;
  line-height: 65px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20%;
}
.advantage-right h5 {
  color: #747474;
  font-style: regular;
  font-weight: 400;
  font-size: 18px;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 10%;
}

.advantage-up {
  margin-top: 8%;
}

/* ADVANTAGE DOWN */
.advantage-dw {
  margin-top: 8%;
}

.advantage-dw-left h4 {
  color: #212121;
  font-weight: 600;
  font-size: 36px;
  line-height: 65px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20%;
}
.advantage-dw-left h5 {
  color: #747474;
  font-style: regular;
  font-weight: 400;
  font-size: 18px;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 10%;
}

.advantage-dw-right {
  background: #eef4ff;
  border-radius: 100px 100px 100px 100px;
}

/* USER SECTION */

#user-section {
  margin-top: 150px;
  background: #2d76f9;
  border-radius: 50px;
  text-align: center;
  justify-content: center;
  margin-top: 10%;
  margin-right: 5%;
  margin-left: 5%;
  padding-top: 10px;
}

#user-section .btn-outline-primary {
  color: white;
  border: 1.5px solid #ffffff;
  box-sizing: border-box;
  border-radius: 1500px;
  margin: 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

#user-section .btn-light {
  border-radius: 1500px;
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #2d76f9;
}

#user-section h4 {
  color: #ffffff;
  margin-top: 100px;
  font-weight: 600;
  font-size: 36px;
  line-height: 65px;
}

/* TESTIMONIAL SECTION */

.clearfix {
  margin-top: 7%;
  margin-left: 15%;
}

.clearfix h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #212121;
}

.clearfix h6 {
  margin-top: 10%;
  font-size: 14px;
  line-height: 21px;
  color: #747474;
}

.testimonial-left {
  background: #eef4ff;
  border-radius: 0px 100px 100px 0px;
  padding-top: 7%;
  padding-bottom: 7%;
  padding-right: 4%;
}
.ph-1 {
  margin-left: 40%;
}
.ph-2 {
  margin-left: 30%;
}
.ph-3 {
  margin-left: 53%;
}
.ph-4 {
  margin-left: 40%;
}

/* KAKO POZICIONIRATI MED SLIKAMI DA BO OSTALO ISTO KO ZMANJSAS*/
/*
.crtice {
  border: 2.5px dashed #2d76f9;
  border-radius: 50px;
  position: absolute;
  width: 28%;
  height: 28%;
  left: 12%;
  top: 376%;
}*/

.testimonial-right h4 {
  margin-top: 5%;
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;
  margin-left: 15%;
}

.testimonial-right i {
  margin-left: 15%;
}

.testimonial-right h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 65px;
  margin-left: 15%;
  margin-right: 15%;
}

#testimonial-section {
  margin-bottom: 20px;
  margin-top: 6rem;
}

/* FOOTER SECTION */

#footer-section {
  margin-top: 15rem;
}

#footer-section a {
  font-size: 18px;
  line-height: 200%;
  color: #747474;
}

#footer-section h3 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
}

#footer-section h5 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
}

#footer-section p {
  color: #747474;
  font-weight: normal;
  font-size: 18px;
  line-height: 200%;
}

#footer-section .one {
  margin-right: 8rem;
}

#footer-section .three {
  margin-right: 3rem;
}
#footer-section .four {
  margin-right: 8rem;
}
.four i {
  margin-right: 3rem;
  color: #2d76f9;
}

/* MEDIA */
@media only screen and (max-width: 420px) {
  .my-nav {
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 18px;
  }

  .btn-primary {
    background: red;
  }

  .col-right {
    margin-top: 100px;
  }

  .col-title {
    margin-top: 50px;
  }
  #user-section {
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 2%;
  }
  #footer-section .two {
    margin-top: 3rem;
  }

  #footer-section .three {
    margin-top: 3rem;
  }
  #footer-section .four {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 660px) {
  .testimonial-left {
    display: none;
  }
}
