body {
  font-family: Poppins;
  background-color: white;
  border: 1px solid rgb(197, 194, 194);
  border-radius: 100px 0px 100px 0px;
}

/* NAVBAR */
.my-nav {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 18px;
}

.navbar-brand {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
}

.nav-item {
  font-size: 18px;
  margin-left: 50px;
}

.btn-outline-primary {
  color: #2d76f9;
  border: 1.5px solid #2d76f9;
  box-sizing: border-box;
  border-radius: 50px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.btn-outline-primary:hover {
  background-color: #2d76f9;
}

/* HERO SECTION */

.btn-primary {
  width: 250px;
  height: 75px;
  background: #2d76f9;
  border-radius: 1500px;
  padding-left: 58px;
  padding-right: 58px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-top: 50px;
}

.col-right {
  background-color: #d6e5fd;
  border-radius: 0px 0px 0px 100px;
}

.col-text {
  width: 533px;
  font-size: 18px;
  color: #747474;
  margin-top: 40px;
}
.col-title {
  width: 533px;
  height: 255px;
  margin-top: 200px;
  font-weight: 600;
  font-size: 64px;
}

#phone {
  position: absolute;
  width: 270px;
  height: 583.43px;
  margin-top: 163px;
  margin-left: 215px;
}

#phone-top {
  position: absolute;
  margin-left: 87px;
  margin-top: 181px;
}

#phone-middle {
  position: absolute;
  margin-left: 309px;
  margin-top: 352px;
}

#phone-bottom {
  position: absolute;
  margin-left: 50px;
  margin-top: 528px;
}

#krog {
  position: absolute;
  width: 513px;
  height: 513px;
  margin-left: 384px;
  margin-top: 490px;

  border: 100px solid #f5f9ff;
  box-sizing: border-box;
  border-radius: 50%;
}

#circle-up {
  position: absolute;
  width: 513px;
  height: 513px;
  margin-left: -118px;
  margin-top: -181px;

  border: 100px solid #f5f9ff;
  box-sizing: border-box;
  border-radius: 50%;
}

.my-hero {
  margin-left: 5%;
  margin-right: 5%;
}

/* MEDIA */
@media only screen and (max-width: 400px) {
  .my-nav {
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 18px;
  }
}

/* FEATURES SECTION */

#features {
  height: 288px;
  margin-top: 150px;
  margin-left: 5%;
  margin-right: 5%;
}

.col {
  width: 387px;
  height: 288px;
}

.col h4 {
  margin-top: 72px;
  color: #212121;
  font-size: 24px;
  font-weight: bold;
}
.far {
  margin-left: 22px;
  background: #eef4ff;
  border-radius: 100px;
  opacity: 0.5;
  color: #2d76f9;
}

.fas {
  margin-left: 22px;
  background: #eef4ff;
  border-radius: 100px;
  opacity: 0.5;
  color: #2d76f9;
}

.col h5 {
  font-size: 18px;
  color: #747474;
  margin-top: 30px;
}

/* ADVANTAGE SECTION */
